main img, main video {
  border-radius: 25px;
}

#emergencyBtn {
  position: absolute;
  transform: translate(-106%, 296px);
  width: 100%;
}
#helpBtn{
  transform: translate(-150%, 304px);
  width: 100%;
}

.control-btns {
  display: none;
}

#gameBox {
  background: linear-gradient(70deg, #fcfcfc 90%, #4c5e74 10%);
  border-radius: 25px;
  text-align: center !important;
  display: none;
  height: 70vh;
}

#gameBox img {
  margin: auto;
  display: none;
}

#counter {
  font-size: 150px !important;
}

.robotAnswer {
  color: #9ea600;
}

#staticImage {
  object-fit: cover;
}

#buttonsBox {
  transform: translateY(7%);
}

#startBtn {
  background-color: #9ea700;
}

#transcriptHomePage {
  font-size: larger;
}

#speechRecognitionBox {
  position: absolute;
  top: 90vh;
  left: 67%;
}
