<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMR ROBOT - TV</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
    <script src="/static/scripts/socket.io.min.js"></script>
</head>
<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Smart Manufacturing & Robotics DELFT</span>
            <img height="70" src="/static/images/logo.png" alt="SMR DELFT">
        </div>
    </nav>

    <main class="container text-center">
        <audio src="" id="music"></audio>
        <section class="py-5 row">
            <div class="col-8" id="gameBox">
                <span class="fw-bold" id="counter"></span>
                <img class="p-3" id="gameImg" src="" height="200" />
            </div>
            <video class="col-8" id="video" src="/static/videos/hhs.mp4" autoplay muted></video>
            <img class="col-8" id="videoFeed" style="display:none;" />

            <section class="col-4" id="transcriptBox">
                <div class="alert fw-bold" style="font-size: large;" id="transcriptTVPage"></div>
                <hr style="border-bottom: 8px solid #9ea600;">
            </section>
            
            <article id="spinners" class="mt-5 pt-5 text-center col" style="display: none;">
                <div>
                    <div class="spinner-grow text-danger" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="spinner-grow text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div class="spinner-grow text-dark" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <span class="btn">Loading...</span>
            </article>
        </section>
    </main>
    <script src="/static/scripts/helpers.js"></script> 
    <script src="/static/scripts/customSocketIO.js"></script> 
    <script src="/static/scripts/data.js"></script>
    <script src="/static/scripts/ai.js"></script>
    <script src="/static/scripts/textToSpeechAI.js"></script>
    <script src="/static/scripts/tv-main.js"></script>
</body>
</html>
